.carousel {
  box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 1.5rem;
  .direction {
    z-index: auto;
  }
  .carousel-inner {
    height: 340px;
    @media (max-width: 767px) {
      height: 300px;
    }
  }
  .carousel-item {
    height: 100%;
    figure {
      margin-bottom: 0;
    }
    img {
      @media (max-width: 767px) {
        height: 100%;
      }
      @media (min-width: 768px) {
        min-height: 100%;
        min-width: 100%;
        width: auto; 
        height: auto;
        margin-left: 0;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    .caption {
      position: absolute;
      @media (min-width: 768px) {
        left: 90px;
        top: 50%;
        transform: translateY(-50%);
      }
      @media (max-width: 767px) {
        top: 50%;
        transform: translateY(-50%);
        left: 40px;
      }
      color: white;
      max-width: 340px;
      .caption-description p {
        color: black;
      }
      .caption-description h2 {
        color: black;
      }
    }
    figure {
      @media (max-width: 767px) {
        margin: 0;
      }
    }
  }
  .carousel-control {
    opacity: 1;
    width: 80px;
    .icon-next,
    .icon-prev {
      &::before {
        content: "";
      }
      i {
        font-size: 3.125rem;
        color: white;
      }
      &:hover {
        i {
          color: $brand-primary;
        }
      }
    }
    .icon-prev {
      left: 1rem;
    }
    .icon-next {
      right: 2rem;
    }
    &.left,
    &.right {
      background: none;
    }
  }
}
